<h1>Course List</h1>
<div class="container mt-4 list-group">

    <div class="list-group">
        <a href="" class="list-group-item list-group-item-action" (click)="showAngular()">
            {{coursesArr[0].name}}</a>
        <a href="" class="list-group-item list-group-item-action" (click)="showPython()">
            {{coursesArr[1].name}}
        </a>
        <a href="" class="list-group-item list-group-item-action" (click)="showJava()">
            {{coursesArr[2].name}}
        </a>
        <a href="" class="list-group-item list-group-item-action" (click)="showMongo()">
            {{coursesArr[3].name}}
        </a>
    </div>
</div>